.resize-handle {
    z-index: 10;
    background-color: transparent;
}

.resize-handle:hover {
    background-color: hsl(var(--p) / 0.3);
}

.resizing {
    user-select: none;
}

.resizing .resize-handle {
    background-color: hsl(var(--p) / 0.5);
}